<!--users/templates/registration/password_reset_form.html-->

{% extends 'base.html' %}

{% block content %}
<h2>Send password reset link</h2>



<div class="column">
	<div class="box">
		<h2 class="label is-large">LOGIN</h2>
		
		<form method="post" action = "{% url 'users:password_reset' %}">
			{% csrf_token %}
			{{ form.as_p }}
		<input type="submit" value="Reset Password">
		</form>
		<div class="box">
			<a href="{% url 'users:login' %}">
				<button class="button is-info">Login</button>
			</a>
		</div>
		
	</div>
</div>

{% endblock %}