<!--users/templates/registration/password_change_form.html-->

{% extends 'base.html' %}

{% block content %}


<div class="column">
	<div class="box">
		<h2 class="label is-large">Change Password</h2>
		<form method="post">
			{% csrf_token %}
			{% for field in form %}
				<div class="field">
					
					<label class="label is-medium">{{ field.label_tag }}</label>
					 <div class="control has-icons-left has-icons-right">
						{{ field }}
					  </div>
					  {%if field.error %}
						{{field.error}}
					  {% endif %}
					 
				</div>
			{% endfor %}
			<input class="button is-link is-focused" type="submit" value="Reset">
		</form>
		
		
	</div>
</div>


{% endblock %}